.linhaEtapa8 {
    position: absolute;
    width: 117.56px;
    height: 0px;
    left: 720px;
    top: 930px;
    border: 1px solid #FFFFFF;
    transform: rotate(90deg);
}

.txtEtapa8 {
    position: absolute;
    width: 400px;
    height: 0px;
    left: 660px;
    top: 800px;
    font-family: 'Open Sans';
    font-size: 40px;
}

.titulo8 {
    position: absolute;
    font-size: 30px;
    color: white;
    top: 900px;
    left: 550px;
    width: 300px;
}

.texto8 {
    position: absolute;
    font-size: 20px;
    color: white;
    top: 950px;
    left: 550px;
    width: 200px;
}