.header {
    text-align: center;
    position: relative;
    color:white;
    background-color: rgba(82, 66, 198, 1);
    font-family: 'Montserrat';
    top: 70px;
    font-size: 20px;
}

.logoConpec {
  position: absolute;
  width: 93px;
  height: 55px;
  top: 40px;
  left: 1300px;
}

.mainDiv {
  height: 2000px;
  width: 1440px;
}

.siteConpec {
  position: absolute;
  width: 200px;
  height: 55px;
  top: 90px;
  left: 1300px;
  color: white;
}

.linkConpec {
  color: white;
}

.linhaBranca1 {
  position: absolute;
  width: 1440px;
  height: 7px;
  left: 8px;
  top: 300px;
  background: #EAEAEA;
}

.linhaBranca2 {
  position: absolute;
  width: 1440px;
  height: 7px;
  left: 8px;
  top: 600px;
  background: #EAEAEA;
}

.linhaBranca3 {
  position: absolute;
  width: 1440px;
  height: 7px;
  left: 8px;
  top: 900px;
  background: #EAEAEA;
}